.post-card {
    background-color: #dff9fb;
    max-width: 90%;
    margin: 0 auto;
    text-align: left;
    padding: 6px 22px;
}

.card-title-section {

}

.card-title {
    font-size: 32px;
}

.user-name {
    font-size: 16px;
    font-style: italic;
}

.comment-section {
    background-color: #95afc0;
}

.comment-title-section {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.comment-name {
    margin-right: 20px;
}